* {
  box-sizing: border-box;
}
.App {
  background-color: rgb(78, 73, 73);
  overflow: hidden;
  position: relative;
  font-family: 'Times New Roman', serif;
  background-color: black;
}
.body {
  position: relative;
  margin-bottom: -1em;
  margin-top: 1em;
  justify-content: center;
  align-items: center;
}
.background {
  opacity: 0.4;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  position: fixed;
 }
 .btn-light {
  position: absolute;
  top: 0;
  right: 5.7em;
 }
 .apie-block {
  position: relative;
  color: rgb(22, 27, 70);
  font-size: 1.2vw;
  height: 60em;
}
.apie-block .info {
  position: absolute;
  top: 18%;
  left: 5.2em;
  text-align: left;
}
.apie-block .kontaktai {
  position: absolute;
  top: 18%;
  right: 5.2em;
  text-align: right;
  font-size: 1.25vw;
}
.grid-container-paslaugos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 20em));
  grid-template-rows: repeat(3, 12em);
  grid-gap: 1em;
  justify-content: center;
}
.grid-item-paslaugos {
  color:white;
  background-color: rgba(0, 0, 0, 0.733);
  position: relative;
}
.grid-item-paslaugos img{
  opacity: 0.5;
}
.grid-item-paslaugos-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  font-weight: bold;
}
.grid-item-paslaugos-text {
  position: absolute;
  top: 50%;
  left: 50%;
  right: -40%;
  transform: translate(-50%, -50%);
  font-size: 0.75em;
  display: none;
}
div.grid-item-paslaugos:hover {
  background-color: black;
}
div.grid-item-paslaugos:hover img{
  opacity: 0.3;
}
div.grid-item-paslaugos:hover .grid-item-paslaugos-text {
  display: block;
}
div.grid-item-paslaugos:hover .grid-item-paslaugos-title {
  display: none;
}
.logo-section {
  display: grid;
  grid-template-columns: 20% 75%;
  margin: auto;
  width: 35%;
  padding: 0.3em;
  background-color: white;
  opacity: 0.95;
  font-size: 1.85vw;
  justify-items: center; /* adjusted */
  justify-content: center;
  align-items: center;
  border-radius:0.4em;
  line-height: 1em;
  font-weight: bold;
  text-align: right;
  cursor: pointer;
  object-fit: cover;
}
@media only screen and (max-device-width: 1000px) {
  .btn-light {visibility: hidden;}
  .hide-on-resize {visibility: hidden;}
  .logo-section {
    grid-template-columns: 100% 0;
    width: 70%;
    height: 100%;
    margin-bottom: 0;
  }
  .apie-block .kontaktai { 
      font-size: 4vw;
      top: 18%;
      left: 20%;
      right: 20%;
      text-align: center;
      background-color: white;
  }
  .apie-block {
    height: 120em;
  }
  .info-block-text {
    margin-top: -7em;
    font-size: 2vw;
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
    height: 46em;
    margin-bottom: -30em;
  }
}
.logo {
  width: 100%;
  max-width: 16em;
  height: auto;
}
.info-block {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
  width: 100%;
}
.info-block-text p{
  font-size: 1.5em;
  line-height: 1.5;
  text-align: center;
  color: white;
}
.paslaugos-block {
  height: 100%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
  width: 100%;
  padding-top: 6em;
  text-align: center;
}